<!DOCTYPE html>
<html>
	<head>
		<title>Conversor</title>
		<meta charset="UTF-8">
		<meta name="author" content="José Augusto">
		<script type="text/javascript" src="fw/angular.min.js"></script>
		<script type="text/javascript" src="js/modulo.js"></script>
		<link rel="stylesheet" type="text/css" href="css/estilo.css">
	</head>
	<body>
		<!-- 
				Criação do formulário. Dentro dele existe um label para a entrada, dois botões, um elemento span
				e um cabeçalho que servirá como saída para o resultado.
				O span só será visível caso for digitada uma entrada com caractere especial ou letras. Assim como
				o cabeçalho, eventos de botões e entrada, são gerenciados pelo módulo e controlador do angular 
				pelo arquivo em javascript 'modulo.js'
		-->
		<form id="frm" name="frm" ng-app="modulador" ng-controller="controlador">
			<label id="lb-entrada" for="entrada">Informe o valor a ser convertido (0 a 999999.99):</label>
			<br>
			<input type="text" id="entrada" name="entrada" ng-model="valor" ng-pattern="validador"/>
			<button class="bt" id="bt-converte" name="converte" ng-click="converte()">converter</button>
			<button class="bt" id="bt-limpa" name="limpa" ng-click="limpa()">limpar</button>
			<br>
			<span class="error" ng-show="frm.entrada.$error.pattern">* Digite apenas valores numéricos!</span>
			<br>
			<h3 id="saida" name="saida" ng-bind="resultado"></h3>
		</form>
	</body>
</html>
