#app {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--dark-neutral-6);
}

  .app-converter {
    display: flex;
    flex-basis: 600px;
    flex-direction: column;
    gap: 2.5rem;
    padding: 24px;
  }

.name {
  position: relative;
  align-self: center;
  display: flex;
  padding: 32px 40px 16px;
  border-radius: 24px;
  box-shadow: var(--box-shadow);
  background-color: var(--dark-primary-1);
}
  .name:before {
    position: absolute;
    content: "";
    right: 24px;
    top: 99%;
    border-top: 12px solid var(--dark-primary-1);
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
  }

  .name-title {
    font-family: "Oswald", sans-serif;
    font-weight: 800;
    font-size: 2.45rem;
    line-height: 3.65rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--dark-neutral-6);
  }

  .name-icon {
    cursor: pointer;
    font-size: 3rem;
  }

.input {
  display: flex;
  height: 45px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  background-color: var(--dark-neutral-5);
}

  .input-label {
    flex-grow: 1;
    display: flex;
  }

    .label-icon {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 45px;
      font-family: "Dosis", sans-serif;
      font-size: 1.75rem;
      font-weight: 500;
      color: var(--dark-primary-1);
    }

    .label-field {
      flex-grow: 1;
      padding: 8px 16px;
      font-family: "Dosis", sans-serif;
      font-size: 1.3rem;
      font-weight: 600;
      color: var(--dark-neutral-6);
      border: 0;
      outline: 0;
      background-color: var(--dark-neutral-2);
    }

.output {
  position: relative;
  align-self: center;
  padding: 16px 32px 32px;
  border-radius: 24px;
  box-shadow: var(--box-shadow);
  background-color: var(--dark-neutral-5);
}

  .output.hidden {
    display: none;
  }

  .output.visible {
    display: flex;
  }

  .output:before {
    position: absolute;
    content: "";
    left: 24px;
    bottom: 99%;
    border-bottom: 12px solid var(--dark-neutral-5);
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
  }

  .output-field {
    flex-grow: 1;
    font-family: "Dosis", sans-serif;
    font-size: 1.85rem;
    font-weight: 600;
    text-align: center;
    color: var(--dark-neutral-1);
  }
